@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Özel Stilleri */
.swiper-pagination {
  position: static !important;
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  gap: 18px !important;
}

.swiper-pagination-bullet {
  flex: 1 !important;
  width: auto !important;
  height: 4px !important;
  background: rgb(236, 236, 236) !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  margin: 0 !important;
  border: none !important;
}

.swiper-pagination-bullet-active {
  background: #4b0082 !important;
  border: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #4b0082 !important;
  background: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
  font-weight: bold;
}

.swiper-button-next {
  right: -20px !important;
}

.swiper-button-prev {
  left: -20px !important;
}

/* Form Elementleri için Özel Stiller */
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}

input::placeholder {
  color: #9ca3af;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
